# Open AI API 配置
OPENAI_API_KEY=sk-xxx
OPENAI_MODEL=gpt-4o
OPENAI_BASE_URL=https://api.deepseek.com/v1

# 应用配置
ENV=production
CORS_ORIGINS=*

# DuckDB 数据库路径
# 打包模式下数据库文件应与可执行文件放在同一目录
WIDE_DB_PATH=vcloud_wide.db
